body,
html {
  margin: 0;
  height: 100%;
  padding: 0;
}

.loginForm {
  width: 280px;
  text-align: center;
  padding: 20px;
  margin: 30px auto;
  background: #fff;
}

.loginForm .login-heading {
  text-transform: uppercase;
  font-weight: 200;
  color: #CB3334;
}

.loginForm input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: #f6f6f6;
  width: 250px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  padding: 10px 15px;
  margin: 0 auto 10px;
  display: block;
  text-align: left;
  font-size: 18px;
  color: black;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  font-weight: 300;
}

.loginForm button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  background-color: white;
  border: 0;
  padding: 10px 15px;
  color: #fff;
  background-color: #CB3334;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  width: 280px;
  cursor: pointer;
  font-size: 18px;
  margin: 10px auto;
}
@media (max-width: 480px) {
  .loginForm {
    padding: 10px;
    width: auto;
    margin: 30px 10px;
  }

  .loginForm input {
    width: 210px;
  }

  .loginForm button {
    width: 240px;
  }
}
