/* You can add global styles to this file, and also import other style files */
body,
html {
  margin: 0;
  height: 100%;
  padding: 0;
  background: #ddd;
}

ul, ol {
  list-style: none;
  padding: 0;
}

.main-wrapper {
  min-width: 300px;
  margin: 50px 70px;
  background: #fff;
  box-shadow: 1px 1px 10px #0006;
}

.button {
  background: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #000;
  cursor: pointer;
  padding: 8px 10px;
  text-decoration: none;
}

.button:hover {
  background: #ddd;
  border-color: #ddd;
}

.errors, .errors p {
  text-align: left;
  color: red;
  margin: 0;
}

@media (max-width: 480px) {
  .main-wrapper {
    margin: 25px 20px;
    min-width: auto;
  }
}
